body,html{
  margin: 0;
  padding: 0;
  /*background-image: url('../img/wood.jpg');*/
}

h1, h2, h3{
  margin: 0;
  padding: 0;
}

header{
  font-family: 'crimson text';
  font-weight: 700;
  /*color: #495FA8;*/
  color: white;
  text-shadow: 2px 2px #495FA8;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(193, 209, 172, 0.35);
}

header .row .pull-right{
  text-align: right;
}

.navbar{
  margin-bottom: 0px;
  /*background-color: rgba(193, 209, 172, 0.35);*/
  /*position: absolute;*/
  z-index: 10;
  width: 100%;
  background-color: #BABABA;
}

.navbar-nav>li>a{
  transition: all 0.4s ease;
  font-family: 'lora',cursive;
  font-size: 15pt;
  /*color: #03869E;*/
  color: black;
}

#slide-1{
  background-image: url('../img/yose-banner.jpg');
  background-position: center;
  min-height: 70vh;
  max-height: 100vh;
}

#slide-2{
  background-image: url('../img/vineyard.jpg');
  background-position: center;
  min-height: 70vh;
  max-height: 100vh;
  background-size: 100% 175%;
}

#slide-3{
  background-image: url('../img/yose-2.jpg');
  background-position: top;
  min-height: 70vh;
  max-height: 100vh;
  background-size: 150% 215%;
}

.center-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 767px){
  .carousel-control{
    z-index: 11;
  }
  header{
    text-align: center;
    display: flex;
    margin-top: 35%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  header .row .pull-right{
    padding-top: 10%;
    text-align: center;
  }
  #slide-1{
    min-height: 100vh;
  }
  #slide-2{
    min-height: 100vh;
    background-position: top;
    background-size: 300% 100%;
  }
}

#teamphotos{
  background-color: #fffff;
  height: 320px;
}

#teampic{
  margin: 30px;
  height: 270px;
  background-color: rgba(193, 209, 172, 0.35);
  /*border: 7px solixd #828282;*/
  /*#5E534F;*/
}

#teampic h1{
  font-family: 'crimson text', cursive;
  text-align: center;
  margin-top: 10px;
}

#about{
  background-color: #fffff;
  height: 320px;
}

#aboutteam{
  margin: 30px;
  height: 270px;
  /*background-color: rgba(140, 124, 118, 0.65);*/
  background-color: rgba(255, 255, 255, 0.5);
  /*border: 7px solid #828282;*/
}

#aboutteam h1{
  font-family: 'playball', cursive;
  text-align: center;
  margin-top: 10px;
}
