body,html{
  margin: 0;
  padding: 0;
  /*background-image: url('../img/wood.jpg');*/
}

h1, h2, h3{
  margin: 0;
  padding: 0;
}

header{
  font-family: 'Crimson Text';
  font-weight: 700;
  /*color: #495FA8;*/
  color: white;
  text-shadow: 2px 2px #495FA8;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(193, 209, 172, 0.35);
}

header .row .pull-right{
  text-align: right;
}

.navbar{
  margin-bottom: 0px;
  background-color: rgba(193, 209, 172, 0.35);
  /*position: absolute;*/
  z-index: 10;
  width: 100%;
}

.navbar-nav>li>a{
  transition: all 0.4s ease;
  font-weight: bold;
}

#slide-1{
  background-image: url('../img/yose-banner.jpg');
  background-position: center;
  min-height: 70vh;
  max-height: 100vh;
}

#slide-2{
  background-image: url('../img/vineyard.jpg');
  background-position: center;
  min-height: 70vh;
  max-height: 100vh;
  background-size: 100% 175%;
}

#slide-3{
  background-image: url('../img/yose-2.jpg');
  background-position: top;
  min-height: 70vh;
  max-height: 100vh;
  background-size: 100% 175%;
}

.center-items{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 767px){
  .carousel-control{
    z-index: 11;
  }
  header{
    text-align: center;
    display: flex;
    margin-top: 35%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  header .row .pull-right{
    padding-top: 10%;
    text-align: center;
  }
  #slide-1{
    min-height: 100vh;
  }
  #slide-2{
    min-height: 100vh;
    background-position: top;
    background-size: 300% 100%;
  }
}
